@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lora:wght@700&family=Montserrat&family=Oswald&display=swap');
/* Color variables */
:root {
    --primary-color: #0d7c57;
    --secondary-color: #2584ff;
    --ascent-color: #ffa500;
    --heading-color: #252525;
    --body-color: #3a3a3a;
    --box-shadow: 0 0 20px #686868;
}

* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 

html {

    font-size: 16px;
}
/* Typography */

body {
font-family: Montserrat, Arial, Helvetica, sans-serif;
font-weight: 300;
font-size: 1.5rem;
line-height: 1.5;
color: #000; 
} 

h1,
h2,
h3 {
    color: var(--heading-color);
    font-family: Lora, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.8rem;
    font-weight: 400;
}

/* Media Query */

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}
    a {
        text-decoration: none;
    }
/* Logo */

#logo {
    color: var(--ascent-color);
    font-family: Lora, Arial, Helvetica, sans-serif;
}

.socials li h3 {
    font-size: 1.0rem;
    color: red;
}
/* Navigation */

.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 1rem;
}

.menu-list {
    width: 100%;
    margin: 0;
}

.list__items {
    padding: 0.6rem 1.2rem;
    list-style-type: none;
}

.menu-list a {
    color: #000;
}

.active {
border-bottom: 1px solid var(--ascent-color);
}

a:hover {
    color: var(--ascent-color);
    transition: color .3s;
}

@media screen  and (min-width: 768px) {
    .menu-list {
        display: flex;
        font-size: 1rem;
        max-height: 100%;
        width: auto;
        
    }
    
    #logo {
        font-size: 3rem;
        padding-left: 1.2rem;
     }

    .menu-list a {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 576px) {
    .menu {
        flex-wrap: none;
        display: flex;
    
    }

    .menu-list {
        display: inline-flex;
    }
}
/* grid for index.html */
.grid {
        display: grid;
        box-shadow: var(--box-shadow);
        gap: 20px;
        padding: 0.6rem 1rem;
}

@media screen and (min-width:768px) and (max-width: 1023px) {
    .grid-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid > :last-child {
        grid-column: 1 / span 2;
    }
}

@media screen and (min-width: 1024px) {
    .grid-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-3 p {
        font-size: 1.8rem;
    }
}

@media screen and (mind-width: 1024px) {
    .grid-header p {
       font-size: 1.8rem;
    }
}
.main__intro {
    max-width: 100;
    text-align: center;
    margin-bottom: 1rem;
}


/* card */
.card {
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    padding: 0.6rem;
    text-align: center;
}

.card-header, 
.card-body {
    padding: 1.2rem 1.8rem;
}
.card-body {
    background: var(--secondary-color);
    color: #ffff;
}

.card-body h3 {
    color: #fff;
}
.card-body-secondary {
    background: var(--primary-color);
}

.card-body-ascent {
    background: var(--ascent-color);
}
.card-header h3 {
    font-size: 2rem;
    font-weight: 400;
}
.icon-card-container i {
 color: var(--secondary-color);
}

.icon-secondary-container i {
    color: var(--primary-color);
}

.icon-card-ascent i {
    color: var(--ascent-color);
}

.card-secondary .card-header-secondary i {
    color: var(--primary-color);
}

.icon-card-container {
    height: 80px;
    width: 80px;
    display: inline-flex;
    border-radius: 100%;
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
    float: left;
    margin-right: 1rem;
}

.card-header p {
    clear: both;
    padding-left: 0.6rem;
}

.card .span__price {
font-size: 2rem;
}

/* hero-image */

.hero-image {
    background: url(../images/wallet\ picture.jpg) center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;

}

.hero-text {
    width: 300px;
    position: absolute;
    color: #fff;
    bottom: 20px;
    right: 20px;
    text-align: center;
    background-color: #000;
    padding: 0.5rem 0.6rem;
}

.hero-text p, .hero-text h1 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: #fff;
}

.hero-text h1 {
    /* font-size: 3rem;
    margin-bottom: 0.3rem;
    word-spacing */
}

@media screen and (min-width: 1024px) {
    .hero-text h1 {
        margin-bottom: 0.3rem;
    }

    .hero-text {
        padding-left: 1rem;
    }
}

/* footer */
.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1.5rem;
    align-items: flex-start; 

}

.socials h3 {
font-size: 1.5rem;
}

.socials li {
    list-style-type: none;
    margin: 0.3rem 0;
    display: block;
}

.socials i {
    color: var(--ascent-color);
    font-size: 28px;
}

.socials i:hover {
opacity: 0.4;
}


@media screen and (min-width: 768px) {
    .socials {
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 2rem;
        align-items: center;

    }

    .socials li {
        margin: 0 1rem;
    }

    .socials h3 {
        font-size: 1.2rem;
    }
}

/* company.html tab section */

/* button */
.btn {
    padding: 0.6rem 1rem;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
} 

.btn-primary1 {
    background: var(--primary-color);
}

.btn-seconday2 {
    background: var(--secondary-color);
}
.btn-ascent2 {
    background: var(--ascent-color);
}

.btn:hover {
    background: var(--ascent-color);
}


/* card */

.img-groceries, .img-tv {
    width: 300px;
}

.img-baby {
    width: 300px;
    height: 300px;
}

.card-headings h3 {
    text-decoration: underline;
    text-decoration-line: solid;
}

.tv-icon {
    color: var(--primary-color);
}

.grocerybag-icon {
color: var(--secondary-color);
}

.tv-price, .grocery-price {
    font-size: 2rem;
    color: #000;
    font-weight: 400;
}

.grocery-monthly {
    opacity: 0.6;
    font-size: 1.5rem;
}

.gallery-footer {
    padding-left: 2rem;
}

.baby-icon {
    color: var(--ascent-color);
}

.baby-price {
    font-weight: bold;
}

.grid-card {
    display: grid;
    box-shadow: var(--box-shadow);
    margin-bottom: 1rem;
    text-align: center;
    padding: 0.6 rem 1rem;
}

.grid1 { 
    display: grid;
    grid-gap: 1.25rem;
    border: 1px solid #d3d3d3;
    padding: 0rem;
}

/* marketplace photo gallery */
.marketplace {
background: url(../images/globemap.jpg) center center;
background-repeat: no-repeat;
background-size: cover;
height: 600px;
position: relative;
animation-name: wallet-zoom;
animation-duration: 5s;
animation-direction: reverse;
}

/* media query */
/*media query for laptop */
@media screen and (min-width: 1024px) {
    .tv-price, .grocery-price {
        font-size: 1.5rem;
    }

    .hero-text-marketplace h1 {
        font-size: 2.5rem;
    }

    .grid-2 p {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 768px) {
    .btn-seconday2 {
        padding-right: 0.5rem;
        width: 90%;
    }
}

/*services.html section */

.family-photo {
    width: 400px;
}

.gridx1 {
    display: grid;
}

@media screen and ( max-width: 767px) {
    
}
@media screen  and (min-width: 768px) {
    .gridx2 {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .quote-text {
        font-size: 2rem;
    }

    .gridx2 {
        grid-template-columns: auto auto;
    }
}
/* quote */

.quote {
    font-style: italic;
    color: var(--body-color);
}

.quote p::before {
    content: open-quote;
}
.quote p::after {
    content: close-quote;
}

/* hero image for the family walleyt section */

.family-hero-image {
    background: url(/assets/images/pexels-family\ wallet.jpg);
}

/* our story */

.history {
    padding-left: 2rem;
    text-align: center;
    padding-top: 1rem;
    background-color: red;
    float: left;
    width: 33%;
}
.history-content h3 {
text-transform: uppercase;

}

.about {
    height: 600px;
}
.btn-history {
    width: 25%;
    margin-top: 1rem;
}

.contact {
    background: green;
    float: right;
    width: 33%;
    display: inline-block;}

/* Marketplace hero section */
.marketplace-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    line-height: 2.2rem;
    margin: o auto;
    
}

.hero-picture {
    max-width: 670px;
    height: auto;
}

.marketplace-info {
    width: 30%;
}

.marketplace-info .h {
font-family: Lora, Arial, Helvetica, sans-serif;
font-size: 2.8rem;
color: #000;
margin-bottom: 2rem;
font-weight: 600;
}

.marketplace-h {
    display: inline-block;
    margin-top: 1rem;
    color: var(--ascent-color);
}

.marketplace-info #marketplace-span {
    color: var(--ascent-color);

}

.marketplace-info p {
    color: #000;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    margin-bottom: 2rem;
}

.marketplace-btn {
padding: 0.9rem 1.8rem;
background: #000;
color: #fff;
outline: none;
font-weight: 600;
border-radius: 5px;
font-size: 1.3rem;
cursor: pointer;
}

@media screen and (max-width: 991px) {
    .marketplace-hero {
        flex-direction: column;
    }

    .marketplace-info {
        width: 100%;
        text-align: center;
        padding: 0 1.2rem;
    }


}

/* Video section for services.html */

.video-section {
    margin: 0 auto;
    width: 100%;
    margin-top: 1rem;
    background: rgba(228, 238, 235, 0.2);
}

.video-wrapper {
padding-bottom: 50px;
padding-top: 25px;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
}

.video-wrapper iframe {
height: 400px;
width: 80%;
border-radius: 10px;
}

.video-explanation p {
    font-size: 2.5rem;
    text-align: center;
}

.video-explanation {
    max-width: 109.2rem;
    text-align: center;
    margin-top: 1rem;
    word-wrap: break-word;
    margin: 0 auto;
}

.footer-services {
    margin-top: 1rem;
}

/* marketplace hero-body section */
.marketplace-body-hero {
    width: 100%;
    height: 31.25rem;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.marketplace-img-body {
    width: 100%;
    height: 31.25rem;
    margin-bottom: 1rem;
}

.hero-picture-body {
    width: 100%;
    height: 31.25rem;
}

.marketplace-info-body {
    width: 100%;
    height: 31.25rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 2.2rem;
    word-spacing: 5px;
}

/* About Section */
.aboutus-container {
    margin-top: 1.25rem;
    padding: 0 2.5rem;
    background: rgba(228, 238, 235, 0.2);
}

#meet-exec {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}

.about-teams {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.team-member-details {
    flex-basis: 0 0 33%;
    padding: 2rem;
}

.team-member-details h3 {
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 1.1rem;
}
.about-teams p {
    font-size: 1.125rem;
}

.title {
    margin-bottom: 1.5rem;
}

.team-member-img {
    height: 220px;
    width: 220px;   
    text-align: center; 
    object-fit: cover;
    background: #fff;

}

.team-member-img img {
    height: 220px;
    width: 220px;
    padding: 0.62rem;
    border-radius: 50%;
    transition: all linear 0.7s;
}

.team-member-img img:hover {
    opacity: 0.6;
}
/* media query */

@media screen and (max-width: 860px) {
    .about-teams {
        display: flex;
        flex-direction: column;
    }

    .team-member-img {
        margin: 0 auto;
    }

    .about-teams p {
        font-size: 1.2rem;
    }
}

/* Our story section */

.story {
    margin-top: 1.25rem;
    padding: 0 2.5rem;
}

.story-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;

}

.story-image {
    width: 49%;
    height: 400px;
}

.story-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.story-text {
    width: 49%;
    margin-left: 3rem;
    text-align: center;
}

.story-text p {
    font-size: 1.125rem;
    margin-top: 1rem;
}

/* Media Query for story section */

@media screen and (max-width: 860px) {
    .story-container {
        display: flex;
        flex-direction: column;
    }
    .story-text p {
        font-size: 1.2rem;
    }

    .story-text h3 {
        margin-top: 1rem;
    }

    .story-image {
        width: 600px;
        height: 400px;
    }

    .story-image img {
        width: 600px;
        height: 400px;
    }

    .story-text {
        width: 100%;
    }
}

/* Contact -Us Section */

.contactus-flex-wraper {
    width: 100%;
    margin-top: 1.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2.18rem;
}
.contact-us {
    margin-top: 1.25rem;
    background: rgba(189, 226, 243, 0.1);
}
.contact-us .contact-h3 {
    text-align: Center;
    font-size: 1.75rem;
}

.contact-info-containerxl {
    display: flex;
    width: 49%;
    flex-direction: column;
}

.contact-info-container {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 1rem;
    justify-content: flex-start;
}

.contactus-icon-wrapper {
    height: 3.5rem;
    width: 3.5rem;
    text-align: center;
    margin-right: 1.5rem;
    background: #fff;
}

.contact-info h3 {
    color: var(--ascent-color);
    font-size: 1.2rem;
}

.contact-info p {
    font-size: 1.125rem;
}

.google-map {
    width: 40%;
    height: 500px;
    padding: 2.2rem;
    margin-right: 3.5rem;
    border: 1px solid #000;
}

.google-map iframe {
    margin-right: 2.5rem;
    width: 100%;
}

/* Media query Contact Us Section */

@media screen and (max-width: 860px) {
    .contactus-flex-wraper {
        display: flex;
        flex-direction: column;
    }

    .google-map {
        width: 70%;
    }
}

/* Sing Up Section */

.sinup-inputs {
    width: 45%;
    box-shadow: 0 0 10px #686868;
}

.input-headeing3 {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}
.input-container {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"]
{
   
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 1.5rem 0.7rem;
    outline: none;
    width: 90%;
}

.form-group {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.btn-signup {
    padding: 0.9rem 1.8rem;
    background: var(--ascent-color);
    color: #000;
    outline: none;
    font-weight: 400;
    border-radius: 5px;
    font-size: 1.3rem;
    width: 90%;
    opacity: 0.7;
    margin-bottom: 1.2rem;
}

.signup-flex-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.signup-lists {
    width: 45%;
    margin-left: 3rem;
}

.signup-lists li {
    list-style-type: none;
    list-style-image: url(/assets/images/tick.svg);
    margin-bottom: 1.2rem;
    font-weight: bold;
}

.signup-lists p {
    font-size: 1rem;
    margin-bottom: 1.2rem;
}

/* Media Query for sign-up section */

@media screen and (max-width: 991px) {
    .signup-flex-wrapper {
        flex-direction: column;
    }

    .sinup-inputs {
        width: 90%;
        margin-bottom: 2.5rem;
    }

    .signup-lists {
        width: 90%;
    }

    .signup-lists p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 768px) {
    .signup-lists li {
        font-size: 1.2rem;
    }

    .signup-lists p {
        font-size: 0.9rem;
    }
}