@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lora:wght@700&family=Oswald&display=swap');
/* Color variables */
:root {
    --primary-color: #0d7c57;
    --secondary-color: #2584ff;
    --ascent-color: #ffa500;
    --heading-color: #252525;
    --body-color: #3a3a3a;
    --box-shadow: 0 0 20px #686868;
}

* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 

html {
    font-size: 16px;
}
/* Typography */

body {
font-family: Lato, Arial, Helvetica, sans-serif;
font-weight: 300;
font-size: 1.5rem;
line-height: 1.5;
color: var(--body-color);
} 

h2,
h3 {
    color: var(--heading-color);
    font-family: Oswald, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.8rem;
    font-weight: 400;
}

/* Media Query */

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}
    a {
        text-decoration: none;
    }
/* Logo */

#logo {
    color: var(--ascent-color);
    font-family: Lora, Arial, Helvetica, sans-serif;
    padding-left: 1.2rem;
}
/* Navigation */

.menu {
    display: flex;
    background-color: #000;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 1rem;
}

.menu-list {
    width: 100%;
    margin: 0;
}

.list__items {
    padding: 0.6rem 1.2rem;
    list-style-type: none;
}

.menu-list a {
    color: #fff;
}

.active {
border-bottom: 1px solid var(--ascent-color);
}

a:hover {
    color: var(--ascent-color);
    transition: color .3s;
}
@media screen  and (min-width: 786px) {
    .menu-list {
        display: flex;
        font-size: 1rem;
        max-height: 100%;
        width: auto;
    }
    
    #logo {
        font-size: 3rem;
    }

    .menu-list a {
        font-size: 1.5rem;
    }
}

/* grid for index.html */
.grid {
    display: grid;
    box-shadow: var(--box-shadow);
    gap: 20px;
    padding: 0.6rem 1rem;
}

@media screen and (min-width:768px) and (max-width: 1023px) {
    .grid-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid > :last-child {
        grid-column: 1 / span 2;
    }
}

@media screen and (min-width: 1024px) {
    .grid-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-3 p {
        font-size: 1.8rem;
    }
}

@media screen and (mind-width: 1024px) {
    .grid-header p {
       font-size: 1.8rem;
    }
}
.main__intro {
    max-width: 100;
    text-align: center;
    margin-bottom: 1rem;
}


/* card */
.card {
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    padding: 0.6rem;
    text-align: center;
}

.card-header, 
.card-body {
    padding: 1.2rem 1.8rem;
}
.card-body {
    background: var(--secondary-color);
    color: #ffff;
}

.card-body h3 {
    color: #fff;
}
.card-body-secondary {
    background: var(--primary-color);
}

.card-body-ascent {
    background: var(--ascent-color);
}
.card-header h3 {
    font-size: 2rem;
    font-weight: 400;
}
.icon-card-container i {
 color: var(--secondary-color);
}

.icon-secondary-container i {
    color: var(--primary-color);
}

.icon-card-ascent i {
    color: var(--ascent-color);
}

.card-secondary .card-header-secondary i {
    color: var(--primary-color);
}

.icon-card-container {
    height: 80px;
    width: 80px;
    display: inline-flex;
    border-radius: 100%;
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
    float: left;
    margin-right: 1rem;
}

.card-header p {
    clear: both;
    padding-left: 0.6rem;
}

.card .span__price {
font-size: 2rem;
}

/* hero-image */

.hero-image {
    background: url(../images/wallet\ picture.jpg) center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
}

.hero-text {
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    line-height: 1.2;
    text-align: center;
}

.hero-text p {
    word-spacing: 5px;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 0.3rem;
    word-spacing: 5px;
}

@media screen and (min-width: 1024px) {
    .hero-text h1 {
        margin-bottom: 0.3rem;
    }

    .hero-text {
        padding-left: 1rem;
    }
}

/* footer */
.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1.5rem;
    align-items: flex-start; 
    background: #000;
}

.socials h3 {
font-size: 1.5rem;
}

.socials li {
    list-style-type: none;
    margin: 0.3rem 0;
    display: block;
}

.socials i {
    color: var(--ascent-color);
    font-size: 28px;
}

.socials i:hover {
opacity: 0.4;
}


@media screen and (min-width: 768px) {
    .socials {
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 2rem;
        align-items: center;

    }

    .socials li {
        margin: 0 1rem;
    }

    .socials h3 {
        font-size: 1.2rem;
    }
}

/* company.html tab section */

/* button */
.btn {
    padding: 0.6rem 1rem;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
} 

.btn-primary1 {
    background: var(--primary-color);
}

.btn-seconday2 {
    background: var(--secondary-color);
}
.btn-ascent2 {
    background: var(--ascent-color);
}

.btn:hover {
    background: var(--ascent-color);
}


/* card */

.img-groceries, .img-tv {
    width: 300px;
}

.img-baby {
    width: 300px;
    height: 300px;
}

.card-headings h3 {
    text-decoration: underline;
    text-decoration-line: solid;
}

.tv-icon {
    color: var(--primary-color);
}

.grocerybag-icon {
color: var(--secondary-color);
}

.tv-price, .grocery-price {
    font-size: 2rem;
    color: #000;
    font-weight: 400;
}

.grocery-monthly {
    opacity: 0.6;
    font-size: 1.5rem;
}

.gallery-footer {
    padding-left: 2rem;
}

.baby-icon {
    color: var(--ascent-color);
}

.baby-price {
    font-weight: bold;
}

.grid-card {
    display: grid;
    box-shadow: var(--box-shadow);
    margin-bottom: 1rem;
    text-align: center;
    padding: 0.6 rem 1rem;
}

.grid1 { 
    display: grid;
    grid-gap: 1.25rem;
    border: 1px solid #d3d3d3;
    padding: 0rem;
}

/* marketplace photo gallery */
.marketplace {
background: url(../images/globemap.jpg) center center;
background-repeat: no-repeat;
background-size: cover;
height: 600px;
position: relative;
animation-name: wallet-zoom;
animation-duration: 5s;
animation-direction: reverse;
}

/* media query */
/*media query for laptop */
@media screen and (min-width: 1024px) {
    .tv-price, .grocery-price {
        font-size: 1.5rem;
    }

    .hero-text-marketplace h1 {
        font-size: 2.5rem;
    }

    .grid-2 p {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 768px) {
    .btn-seconday2 {
        padding-right: 0.5rem;
        width: 90%;
    }
}

/*services.html section */

.family-photo {
    width: 400px;
}

.gridx1 {
    display: grid;
}

@media screen and ( max-width: 767px) {
    
}
@media screen  and (min-width: 768px) {
    .gridx2 {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .quote-text {
        font-size: 2rem;
    }

    .gridx2 {
        grid-template-columns: auto auto;
    }
}
/* quote */

.quote {
    font-style: italic;
    color: var(--body-color);
}

.quote p::before {
    content: open-quote;
}
.quote p::after {
    content: close-quote;
}

/* hero image for the family walleyt section */

.family-hero-image {
    background: url(/assets/images/pexels-family\ wallet.jpg);
}

/* our story */

.history {
    padding-left: 2rem;
    text-align: center;
    padding-top: 1rem;
    background-color: red;
    float: left;
    width: 33%;
}
.history-content h3 {
text-transform: uppercase;

}

.about {
    height: 600px;
}
.btn-history {
    width: 25%;
    margin-top: 1rem;
}

.contact {
    background: green;
    float: right;
    width: 33%;
    display: inline-block;
}

.partnership {
    background: brown;
    margin: 0 auto;
    width: 33%;
}

/* Marketplace Hero Section */
.containerx {
display: flex;
max-width: 1005;
}

.box {
    width: 5rem;
    height: 5rem;
    background: gold;
}