  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@300&family=Oswald&display=swap');

/* Color variables */
:root {
    --primary-color: #0d7c57;
    --secondary-color: #2584ff;
    --ascent-color: #ffa500;
    --heading-color: #1b0760;
    --body-color: #918ca4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 

html {
    font-size: 16px;
}
/* Typography */

body {
font-family: Inter, Arial, Helvetica, sans-serif;
color: var(--body-color);
font-size: 1.5rem;
line-height: 1.5;
}

h1, 
h2,
h3 {
    color: var(--heading-color);
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.9rem;
}

/* Media Query */

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}
    a {
        text-decoration: none;
    }

/* List */

/* Navigation */
.menu {
    display: flex;
    background-color: #000;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
}

.menu-list {
    width: 100%;
    margin: 0;
}
.menu-inline .list-items {
    display:inline-block;
    list-style-type: none;
    
}

.menu-list a {
    color: white;
}

.menu-list a:hover {
    background: var(--ascent-color);
}

.list-items {
    padding: 0.3rem 1.25rem;
}

.menu-list #anchor-icon {
    background: var(--primary-color);
    border:  1px solid #ccc;
    border-radius: 0.5rem;
}